</main>



<footer class="footer">
    <div class="container-f">
        <div class="row">
            <div class="footer-col">
                <h4> Company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Contact Us</h4>
                <div class="social-link">
                <ul>
                    <li><a href="#">mohamadawais942@gmail.com</a></li>
                    <li><a href="#">awais.2iv</a></li>
                    <li><a href="#">+92090078601</a></li>
                </ul>
             </div>
            </div>
        </div>
      
    </div>
    <p class="footer-date">Copyright @ <%= new Date().getFullYear() %></p>
</footer>
   
</footer>